.bg-cloudy-blue {
  background-color: #acc2d9;
}
.bg-dark-pastel-green {
  background-color: #56ae57;
}
.bg-dust {
  background-color: #b2996e;
}
.bg-electric-lime {
  background-color: #a8ff04;
}
.bg-fresh-green {
  background-color: #69d84f;
}
.bg-light-eggplant {
  background-color: #894585;
}
.bg-nasty-green {
  background-color: #70b23f;
}
.bg-really-light-blue {
  background-color: #d4ffff;
}
.bg-tea {
  background-color: #65ab7c;
}
.bg-warm-purple {
  background-color: #952e8f;
}
.bg-yellowish-tan {
  background-color: #fcfc81;
}
.bg-cement {
  background-color: #a5a391;
}
.bg-dark-grass-green {
  background-color: #388004;
}
.bg-dusty-teal {
  background-color: #4c9085;
}
.bg-grey-teal {
  background-color: #5e9b8a;
}
.bg-macaroni-and-cheese {
  background-color: #efb435;
}
.bg-pinkish-tan {
  background-color: #d99b82;
}
.bg-spruce {
  background-color: #0a5f38;
}
.bg-strong-blue {
  background-color: #0c06f7;
}
.bg-toxic-green {
  background-color: #61de2a;
}
.bg-windows-blue {
  background-color: #3778bf;
}
.bg-blue {
  background-color: #2242c7;
}
.bg-blue-with-a-hint-of-purple {
  background-color: #533cc6;
}
.bg-booger {
  background-color: #9bb53c;
}
.bg-bright-sea-green {
  background-color: #05ffa6;
}
.bg-dark-green-blue {
  background-color: #1f6357;
}
.bg-deep-turquoise {
  background-color: #017374;
}
.bg-green-teal {
  background-color: #0cb577;
}
.bg-strong-pink {
  background-color: #ff0789;
}
.bg-bland {
  background-color: #afa88b;
}
.bg-deep-aqua {
  background-color: #08787f;
}
.bg-lavender-pink {
  background-color: #dd85d7;
}
.bg-light-moss-green {
  background-color: #a6c875;
}
.bg-light-seafoam-green {
  background-color: #a7ffb5;
}
.bg-olive-yellow {
  background-color: #c2b709;
}
.bg-pig-pink {
  background-color: #e78ea5;
}
.bg-deep-lilac {
  background-color: #966ebd;
}
.bg-desert {
  background-color: #ccad60;
}
.bg-dustylavender {
  background-color: #ac86a8;
}
.bg-purpley-grey {
  background-color: #947e94;
}
.bg-purply {
  background-color: #983fb2;
}
.bg-candy-pink {
  background-color: #ff63e9;
}
.bg-light-pastel-green {
  background-color: #b2fba5;
}
.bg-boring-green {
  background-color: #63b365;
}
.bg-kiwi-green {
  background-color: #8ee53f;
}
.bg-light-grey-green {
  background-color: #b7e1a1;
}
.bg-orange-pink {
  background-color: #ff6f52;
}
.bg-tea-green {
  background-color: #bdf8a3;
}
.bg-very-light-brown {
  background-color: #d3b683;
}
.bg-egg-shell {
  background-color: #fffcc4;
}
.bg-eggplan-purple {
  background-color: #430541;
}
.bg-powder-pink {
  background-color: #ffb2d0;
}
.bg-reddish-grey {
  background-color: #997570;
}
.bg-baby-shit-brown {
  background-color: #ad900d;
}
.bg-liliac {
  background-color: #c48efd;
}
.bg-stormy-blue {
  background-color: #507b9c;
}
.bg-ugly-brown {
  background-color: #7d7103;
}
.bg-custard {
  background-color: #fffd78;
}
.bg-darkish-pink {
  background-color: #da467d;
}
.bg-deep-brown {
  background-color: #410200;
}
.bg-greenish-beige {
  background-color: #c9d179;
}
.bg-manilla {
  background-color: #fffa86;
}
.bg-off-blue {
  background-color: #5684ae;
}
.bg-battleship-grey {
  background-color: #6b7c85;
}
.bg-browny-green {
  background-color: #6f6c0a;
}
.bg-bruise {
  background-color: #7e4071;
}
.bg-kelley-green {
  background-color: #009337;
}
.bg-sickly-yellow {
  background-color: #d0e429;
}
.bg-sunny-yellow {
  background-color: #fff917;
}
.bg-azul {
  background-color: #1d5dec;
}
.bg-darkgreen {
  background-color: #054907;
}
.bg-green-yellow {
  background-color: #b5ce08;
}
.bg-lichen {
  background-color: #8fb67b;
}
.bg-light-light-green {
  background-color: #c8ffb0;
}
.bg-pale-gold {
  background-color: #fdde6c;
}
.bg-sun-yellow {
  background-color: #ffdf22;
}
.bg-tan-green {
  background-color: #a9be70;
}
.bg-burple {
  background-color: #6832e3;
}
.bg-butterscotch {
  background-color: #fdb147;
}
.bg-toupe {
  background-color: #c7ac7d;
}
.bg-dark-cream {
  background-color: #fff39a;
}
.bg-indian-red {
  background-color: #850e04;
}
.bg-light-lavendar {
  background-color: #efc0fe;
}
.bg-poison-green {
  background-color: #40fd14;
}
.bg-baby-puke-green {
  background-color: #b6c406;
}
.bg-bright-yellow-green {
  background-color: #9dff00;
}
.bg-charcoal grey {
  background-color: #3c4142;
}
.bg-squash {
  background-color: #f2ab15;
}
.bg-cinnamon {
  background-color: #ac4f06;
}
.bg-light-pea-green {
  background-color: #c4fe82;
}
.bg-radioactive-green {
  background-color: #2cfa1f;
}
.bg-raw-sienna {
  background-color: #9a6200;
}
.bg-baby-purple {
  background-color: #ca9bf7;
}
.bg-cocoa {
  background-color: #875f42;
}
.bg-light-royal-blue {
  background-color: #3a2efe;
}
.bg-orangeish {
  background-color: #fd8d49;
}
.bg-rust-brown {
  background-color: #8b3103;
}
.bg-sand-brown {
  background-color: #cba560;
}
.bg-swamp {
  background-color: #698339;
}
.bg-tealish-green {
  background-color: #0cdc73;
}

.cloudy-blue {
  color: #acc2d9;
}
.dark-pastel-green {
  color: #56ae57;
}
.dust {
  color: #b2996e;
}
.electric-lime {
  color: #a8ff04;
}
.fresh-green {
  color: #69d84f;
}
.light-eggplant {
  color: #894585;
}
.nasty-green {
  color: #70b23f;
}
.really-light-blue {
  color: #d4ffff;
}
.tea {
  color: #65ab7c;
}
.warm-purple {
  color: #952e8f;
}
.yellowish-tan {
  color: #fcfc81;
}
.cement {
  color: #a5a391;
}
.dark-grass-green {
  color: #388004;
}
.dusty-teal {
  color: #4c9085;
}
.grey-teal {
  color: #5e9b8a;
}
.macaroni-and-cheese {
  color: #efb435;
}
.pinkish-tan {
  color: #d99b82;
}
.spruce {
  color: #0a5f38;
}
.strong-blue {
  color: #0c06f7;
}
.toxic-green {
  color: #61de2a;
}
.windows-blue {
  color: #3778bf;
}
.blue {
  color: #2242c7;
}
.blue-with-a-hint-of-purple {
  color: #533cc6;
}
.booger {
  color: #9bb53c;
}
.bright-sea-green {
  color: #05ffa6;
}
.dark-green-blue {
  color: #1f6357;
}
.deep-turquoise {
  color: #017374;
}
.green-teal {
  color: #0cb577;
}
.strong-pink {
  color: #ff0789;
}
.bland {
  color: #afa88b;
}
.deep-aqua {
  color: #08787f;
}
.lavender-pink {
  color: #dd85d7;
}
.light-moss-green {
  color: #a6c875;
}
.light-seafoam-green {
  color: #a7ffb5;
}
.olive-yellow {
  color: #c2b709;
}
.pig-pink {
  color: #e78ea5;
}
.deep-lilac {
  color: #966ebd;
}
.desert {
  color: #ccad60;
}
.dustylavender {
  color: #ac86a8;
}
.purpley-grey {
  color: #947e94;
}
.purply {
  color: #983fb2;
}
.candy-pink {
  color: #ff63e9;
}
.light-pastel-green {
  color: #b2fba5;
}
.boring-green {
  color: #63b365;
}
.kiwi-green {
  color: #8ee53f;
}
.light-grey-green {
  color: #b7e1a1;
}
.orange-pink {
  color: #ff6f52;
}
.tea-green {
  color: #bdf8a3;
}
.very-light-brown {
  color: #d3b683;
}
.egg-shell {
  color: #fffcc4;
}
.eggplan-purple {
  color: #430541;
}
.powder-pink {
  color: #ffb2d0;
}
.reddish-grey {
  color: #997570;
}
.baby-shit-brown {
  color: #ad900d;
}
.liliac {
  color: #c48efd;
}
.stormy-blue {
  color: #507b9c;
}
.ugly-brown {
  color: #7d7103;
}
.custard {
  color: #fffd78;
}
.darkish-pink {
  color: #da467d;
}
.deep-brown {
  color: #410200;
}
.greenish-beige {
  color: #c9d179;
}
.manilla {
  color: #fffa86;
}
.off-blue {
  color: #5684ae;
}
.battleship-grey {
  color: #6b7c85;
}
.browny-green {
  color: #6f6c0a;
}
.bruise {
  color: #7e4071;
}
.kelley-green {
  color: #009337;
}
.sickly-yellow {
  color: #d0e429;
}
.sunny-yellow {
  color: #fff917;
}
.azul {
  color: #1d5dec;
}
.darkgreen {
  color: #054907;
}
.green-yellow {
  color: #b5ce08;
}
.lichen {
  color: #8fb67b;
}
.light-light-green {
  color: #c8ffb0;
}
.pale-gold {
  color: #fdde6c;
}
.sun-yellow {
  color: #ffdf22;
}
.tan-green {
  color: #a9be70;
}
.burple {
  color: #6832e3;
}
.butterscotch {
  color: #fdb147;
}
.toupe {
  color: #c7ac7d;
}
.dark-cream {
  color: #fff39a;
}
.indian-red {
  color: #850e04;
}
.light-lavendar {
  color: #efc0fe;
}
.poison-green {
  color: #40fd14;
}
.baby-puke-green {
  color: #b6c406;
}
.bright-yellow-green {
  color: #9dff00;
}
.charcoal grey {
  color: #3c4142;
}
.squash {
  color: #f2ab15;
}
.cinnamon {
  color: #ac4f06;
}
.light-pea-green {
  color: #c4fe82;
}
.radioactive-green {
  color: #2cfa1f;
}
.raw-sienna {
  color: #9a6200;
}
.baby-purple {
  color: #ca9bf7;
}
.cocoa {
  color: #875f42;
}
.light-royal-blue {
  color: #3a2efe;
}
.orangeish {
  color: #fd8d49;
}
.rust-brown {
  color: #8b3103;
}
.sand-brown {
  color: #cba560;
}
.swamp {
  color: #698339;
}
.tealish-green {
  color: #0cdc73;
}

.border-cloudy-blue {
  border-color: #acc2d9;
}
.border-dark-pastel-green {
  border-color: #56ae57;
}
.border-dust {
  border-color: #b2996e;
}
.border-electric-lime {
  border-color: #a8ff04;
}
.border-fresh-green {
  border-color: #69d84f;
}
.border-light-eggplant {
  border-color: #894585;
}
.border-nasty-green {
  border-color: #70b23f;
}
.border-really-light-blue {
  border-color: #d4ffff;
}
.border-tea {
  border-color: #65ab7c;
}
.border-warm-purple {
  border-color: #952e8f;
}
.border-yellowish-tan {
  border-color: #fcfc81;
}
.border-cement {
  border-color: #a5a391;
}
.border-dark-grass-green {
  border-color: #388004;
}
.border-dusty-teal {
  border-color: #4c9085;
}
.border-grey-teal {
  border-color: #5e9b8a;
}
.border-macaroni-and-cheese {
  border-color: #efb435;
}
.border-pinkish-tan {
  border-color: #d99b82;
}
.border-spruce {
  border-color: #0a5f38;
}
.border-strong-blue {
  border-color: #0c06f7;
}
.border-toxic-green {
  border-color: #61de2a;
}
.border-windows-blue {
  border-color: #3778bf;
}
.border-blue {
  border-color: #2242c7;
}
.border-blue-with-a-hint-of-purple {
  border-color: #533cc6;
}
.border-booger {
  border-color: #9bb53c;
}
.border-bright-sea-green {
  border-color: #05ffa6;
}
.border-dark-green-blue {
  border-color: #1f6357;
}
.border-deep-turquoise {
  border-color: #017374;
}
.border-green-teal {
  border-color: #0cb577;
}
.border-strong-pink {
  border-color: #ff0789;
}
.border-bland {
  border-color: #afa88b;
}
.border-deep-aqua {
  border-color: #08787f;
}
.border-lavender-pink {
  border-color: #dd85d7;
}
.border-light-moss-green {
  border-color: #a6c875;
}
.border-light-seafoam-green {
  border-color: #a7ffb5;
}
.border-olive-yellow {
  border-color: #c2b709;
}
.border-pig-pink {
  border-color: #e78ea5;
}
.border-deep-lilac {
  border-color: #966ebd;
}
.border-desert {
  border-color: #ccad60;
}
.border-dustylavender {
  border-color: #ac86a8;
}
.border-purpley-grey {
  border-color: #947e94;
}
.border-purply {
  border-color: #983fb2;
}
.border-candy-pink {
  border-color: #ff63e9;
}
.border-light-pastel-green {
  border-color: #b2fba5;
}
.border-boring-green {
  border-color: #63b365;
}
.border-kiwi-green {
  border-color: #8ee53f;
}
.border-light-grey-green {
  border-color: #b7e1a1;
}
.border-orange-pink {
  border-color: #ff6f52;
}
.border-tea-green {
  border-color: #bdf8a3;
}
.border-very-light-brown {
  border-color: #d3b683;
}
.border-egg-shell {
  border-color: #fffcc4;
}
.border-eggplan-purple {
  border-color: #430541;
}
.border-powder-pink {
  border-color: #ffb2d0;
}
.border-reddish-grey {
  border-color: #997570;
}
.border-baby-shit-brown {
  border-color: #ad900d;
}
.border-liliac {
  border-color: #c48efd;
}
.border-stormy-blue {
  border-color: #507b9c;
}
.border-ugly-brown {
  border-color: #7d7103;
}
.border-custard {
  border-color: #fffd78;
}
.border-darkish-pink {
  border-color: #da467d;
}
.border-deep-brown {
  border-color: #410200;
}
.border-greenish-beige {
  border-color: #c9d179;
}
.border-manilla {
  border-color: #fffa86;
}
.border-off-blue {
  border-color: #5684ae;
}
.border-battleship-grey {
  border-color: #6b7c85;
}
.border-browny-green {
  border-color: #6f6c0a;
}
.border-bruise {
  border-color: #7e4071;
}
.border-kelley-green {
  border-color: #009337;
}
.border-sickly-yellow {
  border-color: #d0e429;
}
.border-sunny-yellow {
  border-color: #fff917;
}
.border-azul {
  border-color: #1d5dec;
}
.border-darkgreen {
  border-color: #054907;
}
.border-green-yellow {
  border-color: #b5ce08;
}
.border-lichen {
  border-color: #8fb67b;
}
.border-light-light-green {
  border-color: #c8ffb0;
}
.border-pale-gold {
  border-color: #fdde6c;
}
.border-sun-yellow {
  border-color: #ffdf22;
}
.border-tan-green {
  border-color: #a9be70;
}
.border-burple {
  border-color: #6832e3;
}
.border-butterscotch {
  border-color: #fdb147;
}
.border-toupe {
  border-color: #c7ac7d;
}
.border-dark-cream {
  border-color: #fff39a;
}
.border-indian-red {
  border-color: #850e04;
}
.border-light-lavendar {
  border-color: #efc0fe;
}
.border-poison-green {
  border-color: #40fd14;
}
.border-baby-puke-green {
  border-color: #b6c406;
}
.border-bright-yellow-green {
  border-color: #9dff00;
}
.border-charcoal grey {
  border-color: #3c4142;
}
.border-squash {
  border-color: #f2ab15;
}
.border-cinnamon {
  border-color: #ac4f06;
}
.border-light-pea-green {
  border-color: #c4fe82;
}
.border-radioactive-green {
  border-color: #2cfa1f;
}
.border-raw-sienna {
  border-color: #9a6200;
}
.border-baby-purple {
  border-color: #ca9bf7;
}
.border-cocoa {
  border-color: #875f42;
}
.border-light-royal-blue {
  border-color: #3a2efe;
}
.border-orangeish {
  border-color: #fd8d49;
}
.border-rust-brown {
  border-color: #8b3103;
}
.border-sand-brown {
  border-color: #cba560;
}
.border-swamp {
  border-color: #698339;
}
.border-tealish-green {
  border-color: #0cdc73;
}

.fill-cloudy-blue {
  fill: #acc2d9;
}
.fill-dark-pastel-green {
  fill: #56ae57;
}
.fill-dust {
  fill: #b2996e;
}
.fill-electric-lime {
  fill: #a8ff04;
}
.fill-fresh-green {
  fill: #69d84f;
}
.fill-light-eggplant {
  fill: #894585;
}
.fill-nasty-green {
  fill: #70b23f;
}
.fill-really-light-blue {
  fill: #d4ffff;
}
.fill-tea {
  fill: #65ab7c;
}
.fill-warm-purple {
  fill: #952e8f;
}
.fill-yellowish-tan {
  fill: #fcfc81;
}
.fill-cement {
  fill: #a5a391;
}
.fill-dark-grass-green {
  fill: #388004;
}
.fill-dusty-teal {
  fill: #4c9085;
}
.fill-grey-teal {
  fill: #5e9b8a;
}
.fill-macaroni-and-cheese {
  fill: #efb435;
}
.fill-pinkish-tan {
  fill: #d99b82;
}
.fill-spruce {
  fill: #0a5f38;
}
.fill-strong-blue {
  fill: #0c06f7;
}
.fill-toxic-green {
  fill: #61de2a;
}
.fill-windows-blue {
  fill: #3778bf;
}
.fill-blue {
  fill: #2242c7;
}
.fill-blue-with-a-hint-of-purple {
  fill: #533cc6;
}
.fill-booger {
  fill: #9bb53c;
}
.fill-bright-sea-green {
  fill: #05ffa6;
}
.fill-dark-green-blue {
  fill: #1f6357;
}
.fill-deep-turquoise {
  fill: #017374;
}
.fill-green-teal {
  fill: #0cb577;
}
.fill-strong-pink {
  fill: #ff0789;
}
.fill-bland {
  fill: #afa88b;
}
.fill-deep-aqua {
  fill: #08787f;
}
.fill-lavender-pink {
  fill: #dd85d7;
}
.fill-light-moss-green {
  fill: #a6c875;
}
.fill-light-seafoam-green {
  fill: #a7ffb5;
}
.fill-olive-yellow {
  fill: #c2b709;
}
.fill-pig-pink {
  fill: #e78ea5;
}
.fill-deep-lilac {
  fill: #966ebd;
}
.fill-desert {
  fill: #ccad60;
}
.fill-dustylavender {
  fill: #ac86a8;
}
.fill-purpley-grey {
  fill: #947e94;
}
.fill-purply {
  fill: #983fb2;
}
.fill-candy-pink {
  fill: #ff63e9;
}
.fill-light-pastel-green {
  fill: #b2fba5;
}
.fill-boring-green {
  fill: #63b365;
}
.fill-kiwi-green {
  fill: #8ee53f;
}
.fill-light-grey-green {
  fill: #b7e1a1;
}
.fill-orange-pink {
  fill: #ff6f52;
}
.fill-tea-green {
  fill: #bdf8a3;
}
.fill-very-light-brown {
  fill: #d3b683;
}
.fill-egg-shell {
  fill: #fffcc4;
}
.fill-eggplan-purple {
  fill: #430541;
}
.fill-powder-pink {
  fill: #ffb2d0;
}
.fill-reddish-grey {
  fill: #997570;
}
.fill-baby-shit-brown {
  fill: #ad900d;
}
.fill-liliac {
  fill: #c48efd;
}
.fill-stormy-blue {
  fill: #507b9c;
}
.fill-ugly-brown {
  fill: #7d7103;
}
.fill-custard {
  fill: #fffd78;
}
.fill-darkish-pink {
  fill: #da467d;
}
.fill-deep-brown {
  fill: #410200;
}
.fill-greenish-beige {
  fill: #c9d179;
}
.fill-manilla {
  fill: #fffa86;
}
.fill-off-blue {
  fill: #5684ae;
}
.fill-battleship-grey {
  fill: #6b7c85;
}
.fill-browny-green {
  fill: #6f6c0a;
}
.fill-bruise {
  fill: #7e4071;
}
.fill-kelley-green {
  fill: #009337;
}
.fill-sickly-yellow {
  fill: #d0e429;
}
.fill-sunny-yellow {
  fill: #fff917;
}
.fill-azul {
  fill: #1d5dec;
}
.fill-darkgreen {
  fill: #054907;
}
.fill-green-yellow {
  fill: #b5ce08;
}
.fill-lichen {
  fill: #8fb67b;
}
.fill-light-light-green {
  fill: #c8ffb0;
}
.fill-pale-gold {
  fill: #fdde6c;
}
.fill-sun-yellow {
  fill: #ffdf22;
}
.fill-tan-green {
  fill: #a9be70;
}
.fill-burple {
  fill: #6832e3;
}
.fill-butterscotch {
  fill: #fdb147;
}
.fill-toupe {
  fill: #c7ac7d;
}
.fill-dark-cream {
  fill: #fff39a;
}
.fill-indian-red {
  fill: #850e04;
}
.fill-light-lavendar {
  fill: #efc0fe;
}
.fill-poison-green {
  fill: #40fd14;
}
.fill-baby-puke-green {
  fill: #b6c406;
}
.fill-bright-yellow-green {
  fill: #9dff00;
}
.fill-charcoal grey {
  fill: #3c4142;
}
.fill-squash {
  fill: #f2ab15;
}
.fill-cinnamon {
  fill: #ac4f06;
}
.fill-light-pea-green {
  fill: #c4fe82;
}
.fill-radioactive-green {
  fill: #2cfa1f;
}
.fill-raw-sienna {
  fill: #9a6200;
}
.fill-baby-purple {
  fill: #ca9bf7;
}
.fill-cocoa {
  fill: #875f42;
}
.fill-light-royal-blue {
  fill: #3a2efe;
}
.fill-orangeish {
  fill: #fd8d49;
}
.fill-rust-brown {
  fill: #8b3103;
}
.fill-sand-brown {
  fill: #cba560;
}
.fill-swamp {
  fill: #698339;
}
.fill-tealish-green {
  fill: #0cdc73;
}

.stroke-cloudy-blue {
  stroke: #acc2d9;
}
.stroke-dark-pastel-green {
  stroke: #56ae57;
}
.stroke-dust {
  stroke: #b2996e;
}
.stroke-electric-lime {
  stroke: #a8ff04;
}
.stroke-fresh-green {
  stroke: #69d84f;
}
.stroke-light-eggplant {
  stroke: #894585;
}
.stroke-nasty-green {
  stroke: #70b23f;
}
.stroke-really-light-blue {
  stroke: #d4ffff;
}
.stroke-tea {
  stroke: #65ab7c;
}
.stroke-warm-purple {
  stroke: #952e8f;
}
.stroke-yellowish-tan {
  stroke: #fcfc81;
}
.stroke-cement {
  stroke: #a5a391;
}
.stroke-dark-grass-green {
  stroke: #388004;
}
.stroke-dusty-teal {
  stroke: #4c9085;
}
.stroke-grey-teal {
  stroke: #5e9b8a;
}
.stroke-macaroni-and-cheese {
  stroke: #efb435;
}
.stroke-pinkish-tan {
  stroke: #d99b82;
}
.stroke-spruce {
  stroke: #0a5f38;
}
.stroke-strong-blue {
  stroke: #0c06f7;
}
.stroke-toxic-green {
  stroke: #61de2a;
}
.stroke-windows-blue {
  stroke: #3778bf;
}
.stroke-blue {
  stroke: #2242c7;
}
.stroke-blue-with-a-hint-of-purple {
  stroke: #533cc6;
}
.stroke-booger {
  stroke: #9bb53c;
}
.stroke-bright-sea-green {
  stroke: #05ffa6;
}
.stroke-dark-green-blue {
  stroke: #1f6357;
}
.stroke-deep-turquoise {
  stroke: #017374;
}
.stroke-green-teal {
  stroke: #0cb577;
}
.stroke-strong-pink {
  stroke: #ff0789;
}
.stroke-bland {
  stroke: #afa88b;
}
.stroke-deep-aqua {
  stroke: #08787f;
}
.stroke-lavender-pink {
  stroke: #dd85d7;
}
.stroke-light-moss-green {
  stroke: #a6c875;
}
.stroke-light-seafoam-green {
  stroke: #a7ffb5;
}
.stroke-olive-yellow {
  stroke: #c2b709;
}
.stroke-pig-pink {
  stroke: #e78ea5;
}
.stroke-deep-lilac {
  stroke: #966ebd;
}
.stroke-desert {
  stroke: #ccad60;
}
.stroke-dustylavender {
  stroke: #ac86a8;
}
.stroke-purpley-grey {
  stroke: #947e94;
}
.stroke-purply {
  stroke: #983fb2;
}
.stroke-candy-pink {
  stroke: #ff63e9;
}
.stroke-light-pastel-green {
  stroke: #b2fba5;
}
.stroke-boring-green {
  stroke: #63b365;
}
.stroke-kiwi-green {
  stroke: #8ee53f;
}
.stroke-light-grey-green {
  stroke: #b7e1a1;
}
.stroke-orange-pink {
  stroke: #ff6f52;
}
.stroke-tea-green {
  stroke: #bdf8a3;
}
.stroke-very-light-brown {
  stroke: #d3b683;
}
.stroke-egg-shell {
  stroke: #fffcc4;
}
.stroke-eggplan-purple {
  stroke: #430541;
}
.stroke-powder-pink {
  stroke: #ffb2d0;
}
.stroke-reddish-grey {
  stroke: #997570;
}
.stroke-baby-shit-brown {
  stroke: #ad900d;
}
.stroke-liliac {
  stroke: #c48efd;
}
.stroke-stormy-blue {
  stroke: #507b9c;
}
.stroke-ugly-brown {
  stroke: #7d7103;
}
.stroke-custard {
  stroke: #fffd78;
}
.stroke-darkish-pink {
  stroke: #da467d;
}
.stroke-deep-brown {
  stroke: #410200;
}
.stroke-greenish-beige {
  stroke: #c9d179;
}
.stroke-manilla {
  stroke: #fffa86;
}
.stroke-off-blue {
  stroke: #5684ae;
}
.stroke-battleship-grey {
  stroke: #6b7c85;
}
.stroke-browny-green {
  stroke: #6f6c0a;
}
.stroke-bruise {
  stroke: #7e4071;
}
.stroke-kelley-green {
  stroke: #009337;
}
.stroke-sickly-yellow {
  stroke: #d0e429;
}
.stroke-sunny-yellow {
  stroke: #fff917;
}
.stroke-azul {
  stroke: #1d5dec;
}
.stroke-darkgreen {
  stroke: #054907;
}
.stroke-green-yellow {
  stroke: #b5ce08;
}
.stroke-lichen {
  stroke: #8fb67b;
}
.stroke-light-light-green {
  stroke: #c8ffb0;
}
.stroke-pale-gold {
  stroke: #fdde6c;
}
.stroke-sun-yellow {
  stroke: #ffdf22;
}
.stroke-tan-green {
  stroke: #a9be70;
}
.stroke-burple {
  stroke: #6832e3;
}
.stroke-butterscotch {
  stroke: #fdb147;
}
.stroke-toupe {
  stroke: #c7ac7d;
}
.stroke-dark-cream {
  stroke: #fff39a;
}
.stroke-indian-red {
  stroke: #850e04;
}
.stroke-light-lavendar {
  stroke: #efc0fe;
}
.stroke-poison-green {
  stroke: #40fd14;
}
.stroke-baby-puke-green {
  stroke: #b6c406;
}
.stroke-bright-yellow-green {
  stroke: #9dff00;
}
.stroke-charcoal grey {
  stroke: #3c4142;
}
.stroke-squash {
  stroke: #f2ab15;
}
.stroke-cinnamon {
  stroke: #ac4f06;
}
.stroke-light-pea-green {
  stroke: #c4fe82;
}
.stroke-radioactive-green {
  stroke: #2cfa1f;
}
.stroke-raw-sienna {
  stroke: #9a6200;
}
.stroke-baby-purple {
  stroke: #ca9bf7;
}
.stroke-cocoa {
  stroke: #875f42;
}
.stroke-light-royal-blue {
  stroke: #3a2efe;
}
.stroke-orangeish {
  stroke: #fd8d49;
}
.stroke-rust-brown {
  stroke: #8b3103;
}
.stroke-sand-brown {
  stroke: #cba560;
}
.stroke-swamp {
  stroke: #698339;
}
.stroke-tealish-green {
  stroke: #0cdc73;
}
