.bg-cloudy-blue {
  background-color: #acc2d9;
}
.bg-dark-pastel-green {
  background-color: #56ae57;
}
.bg-dust {
  background-color: #b2996e;
}
.bg-electric-lime {
  background-color: #a8ff04;
}
.bg-fresh-green {
  background-color: #69d84f;
}
.bg-light-eggplant {
  background-color: #894585;
}
.bg-nasty-green {
  background-color: #70b23f;
}
.bg-really-light-blue {
  background-color: #d4ffff;
}
.bg-tea {
  background-color: #65ab7c;
}
.bg-warm-purple {
  background-color: #952e8f;
}
.bg-yellowish-tan {
  background-color: #fcfc81;
}
.bg-cement {
  background-color: #a5a391;
}
.bg-dark-grass-green {
  background-color: #388004;
}
.bg-dusty-teal {
  background-color: #4c9085;
}
.bg-grey-teal {
  background-color: #5e9b8a;
}
.bg-macaroni-and-cheese {
  background-color: #efb435;
}
.bg-pinkish-tan {
  background-color: #d99b82;
}
.bg-spruce {
  background-color: #0a5f38;
}
.bg-strong-blue {
  background-color: #0c06f7;
}
.bg-toxic-green {
  background-color: #61de2a;
}
.bg-windows-blue {
  background-color: #3778bf;
}
.bg-blue {
  background-color: #2242c7;
}
.bg-blue-with-a-hint-of-purple {
  background-color: #533cc6;
}
.bg-booger {
  background-color: #9bb53c;
}
.bg-bright-sea-green {
  background-color: #05ffa6;
}
.bg-dark-green-blue {
  background-color: #1f6357;
}
.bg-deep-turquoise {
  background-color: #017374;
}
.bg-green-teal {
  background-color: #0cb577;
}
.bg-strong-pink {
  background-color: #ff0789;
}
.bg-bland {
  background-color: #afa88b;
}
.bg-deep-aqua {
  background-color: #08787f;
}
.bg-lavender-pink {
  background-color: #dd85d7;
}
.bg-light-moss-green {
  background-color: #a6c875;
}
.bg-light-seafoam-green {
  background-color: #a7ffb5;
}
.bg-olive-yellow {
  background-color: #c2b709;
}
.bg-pig-pink {
  background-color: #e78ea5;
}
.bg-deep-lilac {
  background-color: #966ebd;
}
.bg-desert {
  background-color: #ccad60;
}
.bg-dustylavender {
  background-color: #ac86a8;
}
.bg-purpley-grey {
  background-color: #947e94;
}
.bg-purply {
  background-color: #983fb2;
}
.bg-candy-pink {
  background-color: #ff63e9;
}
.bg-light-pastel-green {
  background-color: #b2fba5;
}
.bg-boring-green {
  background-color: #63b365;
}
.bg-kiwi-green {
  background-color: #8ee53f;
}
.bg-light-grey-green {
  background-color: #b7e1a1;
}
.bg-orange-pink {
  background-color: #ff6f52;
}
.bg-tea-green {
  background-color: #bdf8a3;
}
.bg-very-light-brown {
  background-color: #d3b683;
}
.bg-egg-shell {
  background-color: #fffcc4;
}
.bg-eggplan-purple {
  background-color: #430541;
}
.bg-powder-pink {
  background-color: #ffb2d0;
}
.bg-reddish-grey {
  background-color: #997570;
}
.bg-baby-shit-brown {
  background-color: #ad900d;
}
.bg-liliac {
  background-color: #c48efd;
}
.bg-stormy-blue {
  background-color: #507b9c;
}
.bg-ugly-brown {
  background-color: #7d7103;
}
.bg-custard {
  background-color: #fffd78;
}
.bg-darkish-pink {
  background-color: #da467d;
}
.bg-deep-brown {
  background-color: #410200;
}
.bg-greenish-beige {
  background-color: #c9d179;
}
.bg-manilla {
  background-color: #fffa86;
}
.bg-off-blue {
  background-color: #5684ae;
}
.bg-battleship-grey {
  background-color: #6b7c85;
}
.bg-browny-green {
  background-color: #6f6c0a;
}
.bg-bruise {
  background-color: #7e4071;
}
.bg-kelley-green {
  background-color: #009337;
}
.bg-sickly-yellow {
  background-color: #d0e429;
}
.bg-sunny-yellow {
  background-color: #fff917;
}
.bg-azul {
  background-color: #1d5dec;
}
.bg-darkgreen {
  background-color: #054907;
}
.bg-green-yellow {
  background-color: #b5ce08;
}
.bg-lichen {
  background-color: #8fb67b;
}
.bg-light-light-green {
  background-color: #c8ffb0;
}
.bg-pale-gold {
  background-color: #fdde6c;
}
.bg-sun-yellow {
  background-color: #ffdf22;
}
.bg-tan-green {
  background-color: #a9be70;
}
.bg-burple {
  background-color: #6832e3;
}
.bg-butterscotch {
  background-color: #fdb147;
}
.bg-toupe {
  background-color: #c7ac7d;
}
.bg-dark-cream {
  background-color: #fff39a;
}
.bg-indian-red {
  background-color: #850e04;
}
.bg-light-lavendar {
  background-color: #efc0fe;
}
.bg-poison-green {
  background-color: #40fd14;
}
.bg-baby-puke-green {
  background-color: #b6c406;
}
.bg-bright-yellow-green {
  background-color: #9dff00;
}
.bg-charcoal grey {
  background-color: #3c4142;
}
.bg-squash {
  background-color: #f2ab15;
}
.bg-cinnamon {
  background-color: #ac4f06;
}
.bg-light-pea-green {
  background-color: #c4fe82;
}
.bg-radioactive-green {
  background-color: #2cfa1f;
}
.bg-raw-sienna {
  background-color: #9a6200;
}
.bg-baby-purple {
  background-color: #ca9bf7;
}
.bg-cocoa {
  background-color: #875f42;
}
.bg-light-royal-blue {
  background-color: #3a2efe;
}
.bg-orangeish {
  background-color: #fd8d49;
}
.bg-rust-brown {
  background-color: #8b3103;
}
.bg-sand-brown {
  background-color: #cba560;
}
.bg-swamp {
  background-color: #698339;
}
.bg-tealish-green {
  background-color: #0cdc73;
}
.bg-burnt-siena {
  background-color: #b75203;
}
.bg-camo {
  background-color: #7f8f4e;
}
.bg-dusk-blue {
  background-color: #26538d;
}
.bg-fern {
  background-color: #63a950;
}
.bg-old-rose {
  background-color: #c87f89;
}
.bg-pale-light-green {
  background-color: #b1fc99;
}
.bg-peachy-pink {
  background-color: #ff9a8a;
}
.bg-rosy-pink {
  background-color: #f6688e;
}
.bg-light-bluish-green {
  background-color: #76fda8;
}
.bg-light-bright-green {
  background-color: #53fe5c;
}
.bg-light-neon-green {
  background-color: #4efd54;
}
.bg-light-seafoam {
  background-color: #a0febf;
}
.bg-tiffany-blue {
  background-color: #7bf2da;
}
.bg-washed-out-green {
  background-color: #bcf5a6;
}
.bg-browny-orange {
  background-color: #ca6b02;
}
.bg-nice-blue {
  background-color: #107ab0;
}
.bg-sapphire {
  background-color: #2138ab;
}
.bg-greyish-teal {
  background-color: #719f91;
}
.bg-orangey-yellow {
  background-color: #fdb915;
}
.bg-parchment {
  background-color: #fefcaf;
}
.bg-straw {
  background-color: #fcf679;
}
.bg-very-dark-brown {
  background-color: #1d0200;
}
.bg-terracota {
  background-color: #cb6843;
}
.bg-ugly-blue {
  background-color: #31668a;
}
.bg-clear-blue {
  background-color: #247afd;
}
.bg-creme {
  background-color: #ffffb6;
}
.bg-foam-green {
  background-color: #90fda9;
}
.bg-grey-green {
  background-color: #86a17d;
}
.bg-light-gold {
  background-color: #fddc5c;
}
.bg-seafoam-blue {
  background-color: #78d1b6;
}
.bg-topaz {
  background-color: #13bbaf;
}
.bg-violet-pink {
  background-color: #fb5ffc;
}
.bg-wintergreen {
  background-color: #20f986;
}
.bg-yellow-tan {
  background-color: #ffe36e;
}
.bg-dark-fuchsia {
  background-color: #9d0759;
}
.bg-indigo-blue {
  background-color: #3a18b1;
}
.bg-light-yellowish-green {
  background-color: #c2ff89;
}
.bg-pale-magenta {
  background-color: #d767ad;
}
.bg-rich-purple {
  background-color: #720058;
}
.bg-sunflower-yellow {
  background-color: #ffda03;
}
.bg-green-blue {
  background-color: #01c08d;
}
.bg-leather {
  background-color: #ac7434;
}
.bg-racing-green {
  background-color: #014600;
}
.bg-vivid-purple {
  background-color: #9900fa;
}
.bg-dark-royal-blue {
  background-color: #02066f;
}
.bg-hazel {
  background-color: #8e7618;
}
.bg-muted-pink {
  background-color: #d1768f;
}
.bg-booger-green {
  background-color: #96b403;
}
.bg-canary {
  background-color: #fdff63;
}
.bg-cool-grey {
  background-color: #95a3a6;
}
.bg-dark-taupe {
  background-color: #7f684e;
}
.bg-darkish-purple {
  background-color: #751973;
}
.bg-true-green {
  background-color: #089404;
}
.bg-coral-pink {
  background-color: #ff6163;
}
.bg-dark-sage {
  background-color: #598556;
}
.bg-dark-slate-blue {
  background-color: #214761;
}
.bg-flat-blue {
  background-color: #3c73a8;
}
.bg-mushroom {
  background-color: #ba9e88;
}
.bg-rich-blue {
  background-color: #021bf9;
}
.bg-dirty-purple {
  background-color: #734a65;
}
.bg-greenblue {
  background-color: #23c48b;
}
.bg-icky-green {
  background-color: #8fae22;
}
.bg-light-khaki {
  background-color: #e6f2a2;
}
.bg-warm-blue {
  background-color: #4b57db;
}
.bg-dark-hot-pink {
  background-color: #d90166;
}
.bg-deep-sea-blue {
  background-color: #015482;
}
.bg-carmine {
  background-color: #9d0216;
}
.bg-dark-yellow-green {
  background-color: #728f02;
}
.bg-pale-peach {
  background-color: #ffe5ad;
}
.bg-plum-purple {
  background-color: #4e0550;
}
.bg-golden-rod {
  background-color: #f9bc08;
}
.bg-neon-red {
  background-color: #ff073a;
}
.bg-old-pink {
  background-color: #c77986;
}
.bg-very-pale-blue {
  background-color: #d6fffe;
}
.bg-blood-orange {
  background-color: #fe4b03;
}
.bg-grapefruit {
  background-color: #fd5956;
}
.bg-sand-yellow {
  background-color: #fce166;
}
.bg-clay-brown {
  background-color: #b2713d;
}
.bg-dark-blue-grey {
  background-color: #1f3b4d;
}
.bg-flat-green {
  background-color: #699d4c;
}
.bg-light-green-blue {
  background-color: #56fca2;
}
.bg-warm-pink {
  background-color: #fb5581;
}
.bg-dodger-blue {
  background-color: #3e82fc;
}
.bg-gross-green {
  background-color: #a0bf16;
}
.bg-ice {
  background-color: #d6fffa;
}
.bg-metallic-blue {
  background-color: #4f738e;
}
.bg-pale-salmon {
  background-color: #ffb19a;
}
.bg-sap-green {
  background-color: #5c8b15;
}
.bg-algae {
  background-color: #54ac68;
}
.bg-bluey-grey {
  background-color: #89a0b0;
}
.bg-greeny-grey {
  background-color: #7ea07a;
}
.bg-highlighter-green {
  background-color: #1bfc06;
}
.bg-light-light-blue {
  background-color: #cafffb;
}
.bg-light-mint {
  background-color: #b6ffbb;
}
.bg-raw-umber {
  background-color: #a75e09;
}
.bg-vivid-blue {
  background-color: #152eff;
}
.bg-deep-lavender {
  background-color: #8d5eb7;
}
.bg-dull-teal {
  background-color: #5f9e8f;
}
.bg-light-greenish-blue {
  background-color: #63f7b4;
}

.cloudy-blue {
  color: #acc2d9;
}
.dark-pastel-green {
  color: #56ae57;
}
.dust {
  color: #b2996e;
}
.electric-lime {
  color: #a8ff04;
}
.fresh-green {
  color: #69d84f;
}
.light-eggplant {
  color: #894585;
}
.nasty-green {
  color: #70b23f;
}
.really-light-blue {
  color: #d4ffff;
}
.tea {
  color: #65ab7c;
}
.warm-purple {
  color: #952e8f;
}
.yellowish-tan {
  color: #fcfc81;
}
.cement {
  color: #a5a391;
}
.dark-grass-green {
  color: #388004;
}
.dusty-teal {
  color: #4c9085;
}
.grey-teal {
  color: #5e9b8a;
}
.macaroni-and-cheese {
  color: #efb435;
}
.pinkish-tan {
  color: #d99b82;
}
.spruce {
  color: #0a5f38;
}
.strong-blue {
  color: #0c06f7;
}
.toxic-green {
  color: #61de2a;
}
.windows-blue {
  color: #3778bf;
}
.blue {
  color: #2242c7;
}
.blue-with-a-hint-of-purple {
  color: #533cc6;
}
.booger {
  color: #9bb53c;
}
.bright-sea-green {
  color: #05ffa6;
}
.dark-green-blue {
  color: #1f6357;
}
.deep-turquoise {
  color: #017374;
}
.green-teal {
  color: #0cb577;
}
.strong-pink {
  color: #ff0789;
}
.bland {
  color: #afa88b;
}
.deep-aqua {
  color: #08787f;
}
.lavender-pink {
  color: #dd85d7;
}
.light-moss-green {
  color: #a6c875;
}
.light-seafoam-green {
  color: #a7ffb5;
}
.olive-yellow {
  color: #c2b709;
}
.pig-pink {
  color: #e78ea5;
}
.deep-lilac {
  color: #966ebd;
}
.desert {
  color: #ccad60;
}
.dustylavender {
  color: #ac86a8;
}
.purpley-grey {
  color: #947e94;
}
.purply {
  color: #983fb2;
}
.candy-pink {
  color: #ff63e9;
}
.light-pastel-green {
  color: #b2fba5;
}
.boring-green {
  color: #63b365;
}
.kiwi-green {
  color: #8ee53f;
}
.light-grey-green {
  color: #b7e1a1;
}
.orange-pink {
  color: #ff6f52;
}
.tea-green {
  color: #bdf8a3;
}
.very-light-brown {
  color: #d3b683;
}
.egg-shell {
  color: #fffcc4;
}
.eggplan-purple {
  color: #430541;
}
.powder-pink {
  color: #ffb2d0;
}
.reddish-grey {
  color: #997570;
}
.baby-shit-brown {
  color: #ad900d;
}
.liliac {
  color: #c48efd;
}
.stormy-blue {
  color: #507b9c;
}
.ugly-brown {
  color: #7d7103;
}
.custard {
  color: #fffd78;
}
.darkish-pink {
  color: #da467d;
}
.deep-brown {
  color: #410200;
}
.greenish-beige {
  color: #c9d179;
}
.manilla {
  color: #fffa86;
}
.off-blue {
  color: #5684ae;
}
.battleship-grey {
  color: #6b7c85;
}
.browny-green {
  color: #6f6c0a;
}
.bruise {
  color: #7e4071;
}
.kelley-green {
  color: #009337;
}
.sickly-yellow {
  color: #d0e429;
}
.sunny-yellow {
  color: #fff917;
}
.azul {
  color: #1d5dec;
}
.darkgreen {
  color: #054907;
}
.green-yellow {
  color: #b5ce08;
}
.lichen {
  color: #8fb67b;
}
.light-light-green {
  color: #c8ffb0;
}
.pale-gold {
  color: #fdde6c;
}
.sun-yellow {
  color: #ffdf22;
}
.tan-green {
  color: #a9be70;
}
.burple {
  color: #6832e3;
}
.butterscotch {
  color: #fdb147;
}
.toupe {
  color: #c7ac7d;
}
.dark-cream {
  color: #fff39a;
}
.indian-red {
  color: #850e04;
}
.light-lavendar {
  color: #efc0fe;
}
.poison-green {
  color: #40fd14;
}
.baby-puke-green {
  color: #b6c406;
}
.bright-yellow-green {
  color: #9dff00;
}
.charcoal grey {
  color: #3c4142;
}
.squash {
  color: #f2ab15;
}
.cinnamon {
  color: #ac4f06;
}
.light-pea-green {
  color: #c4fe82;
}
.radioactive-green {
  color: #2cfa1f;
}
.raw-sienna {
  color: #9a6200;
}
.baby-purple {
  color: #ca9bf7;
}
.cocoa {
  color: #875f42;
}
.light-royal-blue {
  color: #3a2efe;
}
.orangeish {
  color: #fd8d49;
}
.rust-brown {
  color: #8b3103;
}
.sand-brown {
  color: #cba560;
}
.swamp {
  color: #698339;
}
.tealish-green {
  color: #0cdc73;
}
.burnt-siena {
  color: #b75203;
}
.camo {
  color: #7f8f4e;
}
.dusk-blue {
  color: #26538d;
}
.fern {
  color: #63a950;
}
.old-rose {
  color: #c87f89;
}
.pale-light-green {
  color: #b1fc99;
}
.peachy-pink {
  color: #ff9a8a;
}
.rosy-pink {
  color: #f6688e;
}
.light-bluish-green {
  color: #76fda8;
}
.light-bright-green {
  color: #53fe5c;
}
.light-neon-green {
  color: #4efd54;
}
.light-seafoam {
  color: #a0febf;
}
.tiffany-blue {
  color: #7bf2da;
}
.washed-out-green {
  color: #bcf5a6;
}
.browny-orange {
  color: #ca6b02;
}
.nice-blue {
  color: #107ab0;
}
.sapphire {
  color: #2138ab;
}
.greyish-teal {
  color: #719f91;
}
.orangey-yellow {
  color: #fdb915;
}
.parchment {
  color: #fefcaf;
}
.straw {
  color: #fcf679;
}
.very-dark-brown {
  color: #1d0200;
}
.terracota {
  color: #cb6843;
}
.ugly-blue {
  color: #31668a;
}
.clear-blue {
  color: #247afd;
}
.creme {
  color: #ffffb6;
}
.foam-green {
  color: #90fda9;
}
.grey-green {
  color: #86a17d;
}
.light-gold {
  color: #fddc5c;
}
.seafoam-blue {
  color: #78d1b6;
}
.topaz {
  color: #13bbaf;
}
.violet-pink {
  color: #fb5ffc;
}
.wintergreen {
  color: #20f986;
}
.yellow-tan {
  color: #ffe36e;
}
.dark-fuchsia {
  color: #9d0759;
}
.indigo-blue {
  color: #3a18b1;
}
.light-yellowish-green {
  color: #c2ff89;
}
.pale-magenta {
  color: #d767ad;
}
.rich-purple {
  color: #720058;
}
.sunflower-yellow {
  color: #ffda03;
}
.green-blue {
  color: #01c08d;
}
.leather {
  color: #ac7434;
}
.racing-green {
  color: #014600;
}
.vivid-purple {
  color: #9900fa;
}
.dark-royal-blue {
  color: #02066f;
}
.hazel {
  color: #8e7618;
}
.muted-pink {
  color: #d1768f;
}
.booger-green {
  color: #96b403;
}
.canary {
  color: #fdff63;
}
.cool-grey {
  color: #95a3a6;
}
.dark-taupe {
  color: #7f684e;
}
.darkish-purple {
  color: #751973;
}
.true-green {
  color: #089404;
}
.coral-pink {
  color: #ff6163;
}
.dark-sage {
  color: #598556;
}
.dark-slate-blue {
  color: #214761;
}
.flat-blue {
  color: #3c73a8;
}
.mushroom {
  color: #ba9e88;
}
.rich-blue {
  color: #021bf9;
}
.dirty-purple {
  color: #734a65;
}
.greenblue {
  color: #23c48b;
}
.icky-green {
  color: #8fae22;
}
.light-khaki {
  color: #e6f2a2;
}
.warm-blue {
  color: #4b57db;
}
.dark-hot-pink {
  color: #d90166;
}
.deep-sea-blue {
  color: #015482;
}
.carmine {
  color: #9d0216;
}
.dark-yellow-green {
  color: #728f02;
}
.pale-peach {
  color: #ffe5ad;
}
.plum-purple {
  color: #4e0550;
}
.golden-rod {
  color: #f9bc08;
}
.neon-red {
  color: #ff073a;
}
.old-pink {
  color: #c77986;
}
.very-pale-blue {
  color: #d6fffe;
}
.blood-orange {
  color: #fe4b03;
}
.grapefruit {
  color: #fd5956;
}
.sand-yellow {
  color: #fce166;
}
.clay-brown {
  color: #b2713d;
}
.dark-blue-grey {
  color: #1f3b4d;
}
.flat-green {
  color: #699d4c;
}
.light-green-blue {
  color: #56fca2;
}
.warm-pink {
  color: #fb5581;
}
.dodger-blue {
  color: #3e82fc;
}
.gross-green {
  color: #a0bf16;
}
.ice {
  color: #d6fffa;
}
.metallic-blue {
  color: #4f738e;
}
.pale-salmon {
  color: #ffb19a;
}
.sap-green {
  color: #5c8b15;
}
.algae {
  color: #54ac68;
}
.bluey-grey {
  color: #89a0b0;
}
.greeny-grey {
  color: #7ea07a;
}
.highlighter-green {
  color: #1bfc06;
}
.light-light-blue {
  color: #cafffb;
}
.light-mint {
  color: #b6ffbb;
}
.raw-umber {
  color: #a75e09;
}
.vivid-blue {
  color: #152eff;
}
.deep-lavender {
  color: #8d5eb7;
}
.dull-teal {
  color: #5f9e8f;
}
.light-greenish-blue {
  color: #63f7b4;
}

.border-cloudy-blue {
  border-color: #acc2d9;
}
.border-dark-pastel-green {
  border-color: #56ae57;
}
.border-dust {
  border-color: #b2996e;
}
.border-electric-lime {
  border-color: #a8ff04;
}
.border-fresh-green {
  border-color: #69d84f;
}
.border-light-eggplant {
  border-color: #894585;
}
.border-nasty-green {
  border-color: #70b23f;
}
.border-really-light-blue {
  border-color: #d4ffff;
}
.border-tea {
  border-color: #65ab7c;
}
.border-warm-purple {
  border-color: #952e8f;
}
.border-yellowish-tan {
  border-color: #fcfc81;
}
.border-cement {
  border-color: #a5a391;
}
.border-dark-grass-green {
  border-color: #388004;
}
.border-dusty-teal {
  border-color: #4c9085;
}
.border-grey-teal {
  border-color: #5e9b8a;
}
.border-macaroni-and-cheese {
  border-color: #efb435;
}
.border-pinkish-tan {
  border-color: #d99b82;
}
.border-spruce {
  border-color: #0a5f38;
}
.border-strong-blue {
  border-color: #0c06f7;
}
.border-toxic-green {
  border-color: #61de2a;
}
.border-windows-blue {
  border-color: #3778bf;
}
.border-blue {
  border-color: #2242c7;
}
.border-blue-with-a-hint-of-purple {
  border-color: #533cc6;
}
.border-booger {
  border-color: #9bb53c;
}
.border-bright-sea-green {
  border-color: #05ffa6;
}
.border-dark-green-blue {
  border-color: #1f6357;
}
.border-deep-turquoise {
  border-color: #017374;
}
.border-green-teal {
  border-color: #0cb577;
}
.border-strong-pink {
  border-color: #ff0789;
}
.border-bland {
  border-color: #afa88b;
}
.border-deep-aqua {
  border-color: #08787f;
}
.border-lavender-pink {
  border-color: #dd85d7;
}
.border-light-moss-green {
  border-color: #a6c875;
}
.border-light-seafoam-green {
  border-color: #a7ffb5;
}
.border-olive-yellow {
  border-color: #c2b709;
}
.border-pig-pink {
  border-color: #e78ea5;
}
.border-deep-lilac {
  border-color: #966ebd;
}
.border-desert {
  border-color: #ccad60;
}
.border-dustylavender {
  border-color: #ac86a8;
}
.border-purpley-grey {
  border-color: #947e94;
}
.border-purply {
  border-color: #983fb2;
}
.border-candy-pink {
  border-color: #ff63e9;
}
.border-light-pastel-green {
  border-color: #b2fba5;
}
.border-boring-green {
  border-color: #63b365;
}
.border-kiwi-green {
  border-color: #8ee53f;
}
.border-light-grey-green {
  border-color: #b7e1a1;
}
.border-orange-pink {
  border-color: #ff6f52;
}
.border-tea-green {
  border-color: #bdf8a3;
}
.border-very-light-brown {
  border-color: #d3b683;
}
.border-egg-shell {
  border-color: #fffcc4;
}
.border-eggplan-purple {
  border-color: #430541;
}
.border-powder-pink {
  border-color: #ffb2d0;
}
.border-reddish-grey {
  border-color: #997570;
}
.border-baby-shit-brown {
  border-color: #ad900d;
}
.border-liliac {
  border-color: #c48efd;
}
.border-stormy-blue {
  border-color: #507b9c;
}
.border-ugly-brown {
  border-color: #7d7103;
}
.border-custard {
  border-color: #fffd78;
}
.border-darkish-pink {
  border-color: #da467d;
}
.border-deep-brown {
  border-color: #410200;
}
.border-greenish-beige {
  border-color: #c9d179;
}
.border-manilla {
  border-color: #fffa86;
}
.border-off-blue {
  border-color: #5684ae;
}
.border-battleship-grey {
  border-color: #6b7c85;
}
.border-browny-green {
  border-color: #6f6c0a;
}
.border-bruise {
  border-color: #7e4071;
}
.border-kelley-green {
  border-color: #009337;
}
.border-sickly-yellow {
  border-color: #d0e429;
}
.border-sunny-yellow {
  border-color: #fff917;
}
.border-azul {
  border-color: #1d5dec;
}
.border-darkgreen {
  border-color: #054907;
}
.border-green-yellow {
  border-color: #b5ce08;
}
.border-lichen {
  border-color: #8fb67b;
}
.border-light-light-green {
  border-color: #c8ffb0;
}
.border-pale-gold {
  border-color: #fdde6c;
}
.border-sun-yellow {
  border-color: #ffdf22;
}
.border-tan-green {
  border-color: #a9be70;
}
.border-burple {
  border-color: #6832e3;
}
.border-butterscotch {
  border-color: #fdb147;
}
.border-toupe {
  border-color: #c7ac7d;
}
.border-dark-cream {
  border-color: #fff39a;
}
.border-indian-red {
  border-color: #850e04;
}
.border-light-lavendar {
  border-color: #efc0fe;
}
.border-poison-green {
  border-color: #40fd14;
}
.border-baby-puke-green {
  border-color: #b6c406;
}
.border-bright-yellow-green {
  border-color: #9dff00;
}
.border-charcoal grey {
  border-color: #3c4142;
}
.border-squash {
  border-color: #f2ab15;
}
.border-cinnamon {
  border-color: #ac4f06;
}
.border-light-pea-green {
  border-color: #c4fe82;
}
.border-radioactive-green {
  border-color: #2cfa1f;
}
.border-raw-sienna {
  border-color: #9a6200;
}
.border-baby-purple {
  border-color: #ca9bf7;
}
.border-cocoa {
  border-color: #875f42;
}
.border-light-royal-blue {
  border-color: #3a2efe;
}
.border-orangeish {
  border-color: #fd8d49;
}
.border-rust-brown {
  border-color: #8b3103;
}
.border-sand-brown {
  border-color: #cba560;
}
.border-swamp {
  border-color: #698339;
}
.border-tealish-green {
  border-color: #0cdc73;
}
.border-burnt-siena {
  border-color: #b75203;
}
.border-camo {
  border-color: #7f8f4e;
}
.border-dusk-blue {
  border-color: #26538d;
}
.border-fern {
  border-color: #63a950;
}
.border-old-rose {
  border-color: #c87f89;
}
.border-pale-light-green {
  border-color: #b1fc99;
}
.border-peachy-pink {
  border-color: #ff9a8a;
}
.border-rosy-pink {
  border-color: #f6688e;
}
.border-light-bluish-green {
  border-color: #76fda8;
}
.border-light-bright-green {
  border-color: #53fe5c;
}
.border-light-neon-green {
  border-color: #4efd54;
}
.border-light-seafoam {
  border-color: #a0febf;
}
.border-tiffany-blue {
  border-color: #7bf2da;
}
.border-washed-out-green {
  border-color: #bcf5a6;
}
.border-browny-orange {
  border-color: #ca6b02;
}
.border-nice-blue {
  border-color: #107ab0;
}
.border-sapphire {
  border-color: #2138ab;
}
.border-greyish-teal {
  border-color: #719f91;
}
.border-orangey-yellow {
  border-color: #fdb915;
}
.border-parchment {
  border-color: #fefcaf;
}
.border-straw {
  border-color: #fcf679;
}
.border-very-dark-brown {
  border-color: #1d0200;
}
.border-terracota {
  border-color: #cb6843;
}
.border-ugly-blue {
  border-color: #31668a;
}
.border-clear-blue {
  border-color: #247afd;
}
.border-creme {
  border-color: #ffffb6;
}
.border-foam-green {
  border-color: #90fda9;
}
.border-grey-green {
  border-color: #86a17d;
}
.border-light-gold {
  border-color: #fddc5c;
}
.border-seafoam-blue {
  border-color: #78d1b6;
}
.border-topaz {
  border-color: #13bbaf;
}
.border-violet-pink {
  border-color: #fb5ffc;
}
.border-wintergreen {
  border-color: #20f986;
}
.border-yellow-tan {
  border-color: #ffe36e;
}
.border-dark-fuchsia {
  border-color: #9d0759;
}
.border-indigo-blue {
  border-color: #3a18b1;
}
.border-light-yellowish-green {
  border-color: #c2ff89;
}
.border-pale-magenta {
  border-color: #d767ad;
}
.border-rich-purple {
  border-color: #720058;
}
.border-sunflower-yellow {
  border-color: #ffda03;
}
.border-green-blue {
  border-color: #01c08d;
}
.border-leather {
  border-color: #ac7434;
}
.border-racing-green {
  border-color: #014600;
}
.border-vivid-purple {
  border-color: #9900fa;
}
.border-dark-royal-blue {
  border-color: #02066f;
}
.border-hazel {
  border-color: #8e7618;
}
.border-muted-pink {
  border-color: #d1768f;
}
.border-booger-green {
  border-color: #96b403;
}
.border-canary {
  border-color: #fdff63;
}
.border-cool-grey {
  border-color: #95a3a6;
}
.border-dark-taupe {
  border-color: #7f684e;
}
.border-darkish-purple {
  border-color: #751973;
}
.border-true-green {
  border-color: #089404;
}
.border-coral-pink {
  border-color: #ff6163;
}
.border-dark-sage {
  border-color: #598556;
}
.border-dark-slate-blue {
  border-color: #214761;
}
.border-flat-blue {
  border-color: #3c73a8;
}
.border-mushroom {
  border-color: #ba9e88;
}
.border-rich-blue {
  border-color: #021bf9;
}
.border-dirty-purple {
  border-color: #734a65;
}
.border-greenblue {
  border-color: #23c48b;
}
.border-icky-green {
  border-color: #8fae22;
}
.border-light-khaki {
  border-color: #e6f2a2;
}
.border-warm-blue {
  border-color: #4b57db;
}
.border-dark-hot-pink {
  border-color: #d90166;
}
.border-deep-sea-blue {
  border-color: #015482;
}
.border-carmine {
  border-color: #9d0216;
}
.border-dark-yellow-green {
  border-color: #728f02;
}
.border-pale-peach {
  border-color: #ffe5ad;
}
.border-plum-purple {
  border-color: #4e0550;
}
.border-golden-rod {
  border-color: #f9bc08;
}
.border-neon-red {
  border-color: #ff073a;
}
.border-old-pink {
  border-color: #c77986;
}
.border-very-pale-blue {
  border-color: #d6fffe;
}
.border-blood-orange {
  border-color: #fe4b03;
}
.border-grapefruit {
  border-color: #fd5956;
}
.border-sand-yellow {
  border-color: #fce166;
}
.border-clay-brown {
  border-color: #b2713d;
}
.border-dark-blue-grey {
  border-color: #1f3b4d;
}
.border-flat-green {
  border-color: #699d4c;
}
.border-light-green-blue {
  border-color: #56fca2;
}
.border-warm-pink {
  border-color: #fb5581;
}
.border-dodger-blue {
  border-color: #3e82fc;
}
.border-gross-green {
  border-color: #a0bf16;
}
.border-ice {
  border-color: #d6fffa;
}
.border-metallic-blue {
  border-color: #4f738e;
}
.border-pale-salmon {
  border-color: #ffb19a;
}
.border-sap-green {
  border-color: #5c8b15;
}
.border-algae {
  border-color: #54ac68;
}
.border-bluey-grey {
  border-color: #89a0b0;
}
.border-greeny-grey {
  border-color: #7ea07a;
}
.border-highlighter-green {
  border-color: #1bfc06;
}
.border-light-light-blue {
  border-color: #cafffb;
}
.border-light-mint {
  border-color: #b6ffbb;
}
.border-raw-umber {
  border-color: #a75e09;
}
.border-vivid-blue {
  border-color: #152eff;
}
.border-deep-lavender {
  border-color: #8d5eb7;
}
.border-dull-teal {
  border-color: #5f9e8f;
}
.border-light-greenish-blue {
  border-color: #63f7b4;
}

.fill-cloudy-blue {
  fill: #acc2d9;
}
.fill-dark-pastel-green {
  fill: #56ae57;
}
.fill-dust {
  fill: #b2996e;
}
.fill-electric-lime {
  fill: #a8ff04;
}
.fill-fresh-green {
  fill: #69d84f;
}
.fill-light-eggplant {
  fill: #894585;
}
.fill-nasty-green {
  fill: #70b23f;
}
.fill-really-light-blue {
  fill: #d4ffff;
}
.fill-tea {
  fill: #65ab7c;
}
.fill-warm-purple {
  fill: #952e8f;
}
.fill-yellowish-tan {
  fill: #fcfc81;
}
.fill-cement {
  fill: #a5a391;
}
.fill-dark-grass-green {
  fill: #388004;
}
.fill-dusty-teal {
  fill: #4c9085;
}
.fill-grey-teal {
  fill: #5e9b8a;
}
.fill-macaroni-and-cheese {
  fill: #efb435;
}
.fill-pinkish-tan {
  fill: #d99b82;
}
.fill-spruce {
  fill: #0a5f38;
}
.fill-strong-blue {
  fill: #0c06f7;
}
.fill-toxic-green {
  fill: #61de2a;
}
.fill-windows-blue {
  fill: #3778bf;
}
.fill-blue {
  fill: #2242c7;
}
.fill-blue-with-a-hint-of-purple {
  fill: #533cc6;
}
.fill-booger {
  fill: #9bb53c;
}
.fill-bright-sea-green {
  fill: #05ffa6;
}
.fill-dark-green-blue {
  fill: #1f6357;
}
.fill-deep-turquoise {
  fill: #017374;
}
.fill-green-teal {
  fill: #0cb577;
}
.fill-strong-pink {
  fill: #ff0789;
}
.fill-bland {
  fill: #afa88b;
}
.fill-deep-aqua {
  fill: #08787f;
}
.fill-lavender-pink {
  fill: #dd85d7;
}
.fill-light-moss-green {
  fill: #a6c875;
}
.fill-light-seafoam-green {
  fill: #a7ffb5;
}
.fill-olive-yellow {
  fill: #c2b709;
}
.fill-pig-pink {
  fill: #e78ea5;
}
.fill-deep-lilac {
  fill: #966ebd;
}
.fill-desert {
  fill: #ccad60;
}
.fill-dustylavender {
  fill: #ac86a8;
}
.fill-purpley-grey {
  fill: #947e94;
}
.fill-purply {
  fill: #983fb2;
}
.fill-candy-pink {
  fill: #ff63e9;
}
.fill-light-pastel-green {
  fill: #b2fba5;
}
.fill-boring-green {
  fill: #63b365;
}
.fill-kiwi-green {
  fill: #8ee53f;
}
.fill-light-grey-green {
  fill: #b7e1a1;
}
.fill-orange-pink {
  fill: #ff6f52;
}
.fill-tea-green {
  fill: #bdf8a3;
}
.fill-very-light-brown {
  fill: #d3b683;
}
.fill-egg-shell {
  fill: #fffcc4;
}
.fill-eggplan-purple {
  fill: #430541;
}
.fill-powder-pink {
  fill: #ffb2d0;
}
.fill-reddish-grey {
  fill: #997570;
}
.fill-baby-shit-brown {
  fill: #ad900d;
}
.fill-liliac {
  fill: #c48efd;
}
.fill-stormy-blue {
  fill: #507b9c;
}
.fill-ugly-brown {
  fill: #7d7103;
}
.fill-custard {
  fill: #fffd78;
}
.fill-darkish-pink {
  fill: #da467d;
}
.fill-deep-brown {
  fill: #410200;
}
.fill-greenish-beige {
  fill: #c9d179;
}
.fill-manilla {
  fill: #fffa86;
}
.fill-off-blue {
  fill: #5684ae;
}
.fill-battleship-grey {
  fill: #6b7c85;
}
.fill-browny-green {
  fill: #6f6c0a;
}
.fill-bruise {
  fill: #7e4071;
}
.fill-kelley-green {
  fill: #009337;
}
.fill-sickly-yellow {
  fill: #d0e429;
}
.fill-sunny-yellow {
  fill: #fff917;
}
.fill-azul {
  fill: #1d5dec;
}
.fill-darkgreen {
  fill: #054907;
}
.fill-green-yellow {
  fill: #b5ce08;
}
.fill-lichen {
  fill: #8fb67b;
}
.fill-light-light-green {
  fill: #c8ffb0;
}
.fill-pale-gold {
  fill: #fdde6c;
}
.fill-sun-yellow {
  fill: #ffdf22;
}
.fill-tan-green {
  fill: #a9be70;
}
.fill-burple {
  fill: #6832e3;
}
.fill-butterscotch {
  fill: #fdb147;
}
.fill-toupe {
  fill: #c7ac7d;
}
.fill-dark-cream {
  fill: #fff39a;
}
.fill-indian-red {
  fill: #850e04;
}
.fill-light-lavendar {
  fill: #efc0fe;
}
.fill-poison-green {
  fill: #40fd14;
}
.fill-baby-puke-green {
  fill: #b6c406;
}
.fill-bright-yellow-green {
  fill: #9dff00;
}
.fill-charcoal grey {
  fill: #3c4142;
}
.fill-squash {
  fill: #f2ab15;
}
.fill-cinnamon {
  fill: #ac4f06;
}
.fill-light-pea-green {
  fill: #c4fe82;
}
.fill-radioactive-green {
  fill: #2cfa1f;
}
.fill-raw-sienna {
  fill: #9a6200;
}
.fill-baby-purple {
  fill: #ca9bf7;
}
.fill-cocoa {
  fill: #875f42;
}
.fill-light-royal-blue {
  fill: #3a2efe;
}
.fill-orangeish {
  fill: #fd8d49;
}
.fill-rust-brown {
  fill: #8b3103;
}
.fill-sand-brown {
  fill: #cba560;
}
.fill-swamp {
  fill: #698339;
}
.fill-tealish-green {
  fill: #0cdc73;
}
.fill-burnt-siena {
  fill: #b75203;
}
.fill-camo {
  fill: #7f8f4e;
}
.fill-dusk-blue {
  fill: #26538d;
}
.fill-fern {
  fill: #63a950;
}
.fill-old-rose {
  fill: #c87f89;
}
.fill-pale-light-green {
  fill: #b1fc99;
}
.fill-peachy-pink {
  fill: #ff9a8a;
}
.fill-rosy-pink {
  fill: #f6688e;
}
.fill-light-bluish-green {
  fill: #76fda8;
}
.fill-light-bright-green {
  fill: #53fe5c;
}
.fill-light-neon-green {
  fill: #4efd54;
}
.fill-light-seafoam {
  fill: #a0febf;
}
.fill-tiffany-blue {
  fill: #7bf2da;
}
.fill-washed-out-green {
  fill: #bcf5a6;
}
.fill-browny-orange {
  fill: #ca6b02;
}
.fill-nice-blue {
  fill: #107ab0;
}
.fill-sapphire {
  fill: #2138ab;
}
.fill-greyish-teal {
  fill: #719f91;
}
.fill-orangey-yellow {
  fill: #fdb915;
}
.fill-parchment {
  fill: #fefcaf;
}
.fill-straw {
  fill: #fcf679;
}
.fill-very-dark-brown {
  fill: #1d0200;
}
.fill-terracota {
  fill: #cb6843;
}
.fill-ugly-blue {
  fill: #31668a;
}
.fill-clear-blue {
  fill: #247afd;
}
.fill-creme {
  fill: #ffffb6;
}
.fill-foam-green {
  fill: #90fda9;
}
.fill-grey-green {
  fill: #86a17d;
}
.fill-light-gold {
  fill: #fddc5c;
}
.fill-seafoam-blue {
  fill: #78d1b6;
}
.fill-topaz {
  fill: #13bbaf;
}
.fill-violet-pink {
  fill: #fb5ffc;
}
.fill-wintergreen {
  fill: #20f986;
}
.fill-yellow-tan {
  fill: #ffe36e;
}
.fill-dark-fuchsia {
  fill: #9d0759;
}
.fill-indigo-blue {
  fill: #3a18b1;
}
.fill-light-yellowish-green {
  fill: #c2ff89;
}
.fill-pale-magenta {
  fill: #d767ad;
}
.fill-rich-purple {
  fill: #720058;
}
.fill-sunflower-yellow {
  fill: #ffda03;
}
.fill-green-blue {
  fill: #01c08d;
}
.fill-leather {
  fill: #ac7434;
}
.fill-racing-green {
  fill: #014600;
}
.fill-vivid-purple {
  fill: #9900fa;
}
.fill-dark-royal-blue {
  fill: #02066f;
}
.fill-hazel {
  fill: #8e7618;
}
.fill-muted-pink {
  fill: #d1768f;
}
.fill-booger-green {
  fill: #96b403;
}
.fill-canary {
  fill: #fdff63;
}
.fill-cool-grey {
  fill: #95a3a6;
}
.fill-dark-taupe {
  fill: #7f684e;
}
.fill-darkish-purple {
  fill: #751973;
}
.fill-true-green {
  fill: #089404;
}
.fill-coral-pink {
  fill: #ff6163;
}
.fill-dark-sage {
  fill: #598556;
}
.fill-dark-slate-blue {
  fill: #214761;
}
.fill-flat-blue {
  fill: #3c73a8;
}
.fill-mushroom {
  fill: #ba9e88;
}
.fill-rich-blue {
  fill: #021bf9;
}
.fill-dirty-purple {
  fill: #734a65;
}
.fill-greenblue {
  fill: #23c48b;
}
.fill-icky-green {
  fill: #8fae22;
}
.fill-light-khaki {
  fill: #e6f2a2;
}
.fill-warm-blue {
  fill: #4b57db;
}
.fill-dark-hot-pink {
  fill: #d90166;
}
.fill-deep-sea-blue {
  fill: #015482;
}
.fill-carmine {
  fill: #9d0216;
}
.fill-dark-yellow-green {
  fill: #728f02;
}
.fill-pale-peach {
  fill: #ffe5ad;
}
.fill-plum-purple {
  fill: #4e0550;
}
.fill-golden-rod {
  fill: #f9bc08;
}
.fill-neon-red {
  fill: #ff073a;
}
.fill-old-pink {
  fill: #c77986;
}
.fill-very-pale-blue {
  fill: #d6fffe;
}
.fill-blood-orange {
  fill: #fe4b03;
}
.fill-grapefruit {
  fill: #fd5956;
}
.fill-sand-yellow {
  fill: #fce166;
}
.fill-clay-brown {
  fill: #b2713d;
}
.fill-dark-blue-grey {
  fill: #1f3b4d;
}
.fill-flat-green {
  fill: #699d4c;
}
.fill-light-green-blue {
  fill: #56fca2;
}
.fill-warm-pink {
  fill: #fb5581;
}
.fill-dodger-blue {
  fill: #3e82fc;
}
.fill-gross-green {
  fill: #a0bf16;
}
.fill-ice {
  fill: #d6fffa;
}
.fill-metallic-blue {
  fill: #4f738e;
}
.fill-pale-salmon {
  fill: #ffb19a;
}
.fill-sap-green {
  fill: #5c8b15;
}
.fill-algae {
  fill: #54ac68;
}
.fill-bluey-grey {
  fill: #89a0b0;
}
.fill-greeny-grey {
  fill: #7ea07a;
}
.fill-highlighter-green {
  fill: #1bfc06;
}
.fill-light-light-blue {
  fill: #cafffb;
}
.fill-light-mint {
  fill: #b6ffbb;
}
.fill-raw-umber {
  fill: #a75e09;
}
.fill-vivid-blue {
  fill: #152eff;
}
.fill-deep-lavender {
  fill: #8d5eb7;
}
.fill-dull-teal {
  fill: #5f9e8f;
}
.fill-light-greenish-blue {
  fill: #63f7b4;
}

.stroke-cloudy-blue {
  stroke: #acc2d9;
}
.stroke-dark-pastel-green {
  stroke: #56ae57;
}
.stroke-dust {
  stroke: #b2996e;
}
.stroke-electric-lime {
  stroke: #a8ff04;
}
.stroke-fresh-green {
  stroke: #69d84f;
}
.stroke-light-eggplant {
  stroke: #894585;
}
.stroke-nasty-green {
  stroke: #70b23f;
}
.stroke-really-light-blue {
  stroke: #d4ffff;
}
.stroke-tea {
  stroke: #65ab7c;
}
.stroke-warm-purple {
  stroke: #952e8f;
}
.stroke-yellowish-tan {
  stroke: #fcfc81;
}
.stroke-cement {
  stroke: #a5a391;
}
.stroke-dark-grass-green {
  stroke: #388004;
}
.stroke-dusty-teal {
  stroke: #4c9085;
}
.stroke-grey-teal {
  stroke: #5e9b8a;
}
.stroke-macaroni-and-cheese {
  stroke: #efb435;
}
.stroke-pinkish-tan {
  stroke: #d99b82;
}
.stroke-spruce {
  stroke: #0a5f38;
}
.stroke-strong-blue {
  stroke: #0c06f7;
}
.stroke-toxic-green {
  stroke: #61de2a;
}
.stroke-windows-blue {
  stroke: #3778bf;
}
.stroke-blue {
  stroke: #2242c7;
}
.stroke-blue-with-a-hint-of-purple {
  stroke: #533cc6;
}
.stroke-booger {
  stroke: #9bb53c;
}
.stroke-bright-sea-green {
  stroke: #05ffa6;
}
.stroke-dark-green-blue {
  stroke: #1f6357;
}
.stroke-deep-turquoise {
  stroke: #017374;
}
.stroke-green-teal {
  stroke: #0cb577;
}
.stroke-strong-pink {
  stroke: #ff0789;
}
.stroke-bland {
  stroke: #afa88b;
}
.stroke-deep-aqua {
  stroke: #08787f;
}
.stroke-lavender-pink {
  stroke: #dd85d7;
}
.stroke-light-moss-green {
  stroke: #a6c875;
}
.stroke-light-seafoam-green {
  stroke: #a7ffb5;
}
.stroke-olive-yellow {
  stroke: #c2b709;
}
.stroke-pig-pink {
  stroke: #e78ea5;
}
.stroke-deep-lilac {
  stroke: #966ebd;
}
.stroke-desert {
  stroke: #ccad60;
}
.stroke-dustylavender {
  stroke: #ac86a8;
}
.stroke-purpley-grey {
  stroke: #947e94;
}
.stroke-purply {
  stroke: #983fb2;
}
.stroke-candy-pink {
  stroke: #ff63e9;
}
.stroke-light-pastel-green {
  stroke: #b2fba5;
}
.stroke-boring-green {
  stroke: #63b365;
}
.stroke-kiwi-green {
  stroke: #8ee53f;
}
.stroke-light-grey-green {
  stroke: #b7e1a1;
}
.stroke-orange-pink {
  stroke: #ff6f52;
}
.stroke-tea-green {
  stroke: #bdf8a3;
}
.stroke-very-light-brown {
  stroke: #d3b683;
}
.stroke-egg-shell {
  stroke: #fffcc4;
}
.stroke-eggplan-purple {
  stroke: #430541;
}
.stroke-powder-pink {
  stroke: #ffb2d0;
}
.stroke-reddish-grey {
  stroke: #997570;
}
.stroke-baby-shit-brown {
  stroke: #ad900d;
}
.stroke-liliac {
  stroke: #c48efd;
}
.stroke-stormy-blue {
  stroke: #507b9c;
}
.stroke-ugly-brown {
  stroke: #7d7103;
}
.stroke-custard {
  stroke: #fffd78;
}
.stroke-darkish-pink {
  stroke: #da467d;
}
.stroke-deep-brown {
  stroke: #410200;
}
.stroke-greenish-beige {
  stroke: #c9d179;
}
.stroke-manilla {
  stroke: #fffa86;
}
.stroke-off-blue {
  stroke: #5684ae;
}
.stroke-battleship-grey {
  stroke: #6b7c85;
}
.stroke-browny-green {
  stroke: #6f6c0a;
}
.stroke-bruise {
  stroke: #7e4071;
}
.stroke-kelley-green {
  stroke: #009337;
}
.stroke-sickly-yellow {
  stroke: #d0e429;
}
.stroke-sunny-yellow {
  stroke: #fff917;
}
.stroke-azul {
  stroke: #1d5dec;
}
.stroke-darkgreen {
  stroke: #054907;
}
.stroke-green-yellow {
  stroke: #b5ce08;
}
.stroke-lichen {
  stroke: #8fb67b;
}
.stroke-light-light-green {
  stroke: #c8ffb0;
}
.stroke-pale-gold {
  stroke: #fdde6c;
}
.stroke-sun-yellow {
  stroke: #ffdf22;
}
.stroke-tan-green {
  stroke: #a9be70;
}
.stroke-burple {
  stroke: #6832e3;
}
.stroke-butterscotch {
  stroke: #fdb147;
}
.stroke-toupe {
  stroke: #c7ac7d;
}
.stroke-dark-cream {
  stroke: #fff39a;
}
.stroke-indian-red {
  stroke: #850e04;
}
.stroke-light-lavendar {
  stroke: #efc0fe;
}
.stroke-poison-green {
  stroke: #40fd14;
}
.stroke-baby-puke-green {
  stroke: #b6c406;
}
.stroke-bright-yellow-green {
  stroke: #9dff00;
}
.stroke-charcoal grey {
  stroke: #3c4142;
}
.stroke-squash {
  stroke: #f2ab15;
}
.stroke-cinnamon {
  stroke: #ac4f06;
}
.stroke-light-pea-green {
  stroke: #c4fe82;
}
.stroke-radioactive-green {
  stroke: #2cfa1f;
}
.stroke-raw-sienna {
  stroke: #9a6200;
}
.stroke-baby-purple {
  stroke: #ca9bf7;
}
.stroke-cocoa {
  stroke: #875f42;
}
.stroke-light-royal-blue {
  stroke: #3a2efe;
}
.stroke-orangeish {
  stroke: #fd8d49;
}
.stroke-rust-brown {
  stroke: #8b3103;
}
.stroke-sand-brown {
  stroke: #cba560;
}
.stroke-swamp {
  stroke: #698339;
}
.stroke-tealish-green {
  stroke: #0cdc73;
}
.stroke-burnt-siena {
  stroke: #b75203;
}
.stroke-camo {
  stroke: #7f8f4e;
}
.stroke-dusk-blue {
  stroke: #26538d;
}
.stroke-fern {
  stroke: #63a950;
}
.stroke-old-rose {
  stroke: #c87f89;
}
.stroke-pale-light-green {
  stroke: #b1fc99;
}
.stroke-peachy-pink {
  stroke: #ff9a8a;
}
.stroke-rosy-pink {
  stroke: #f6688e;
}
.stroke-light-bluish-green {
  stroke: #76fda8;
}
.stroke-light-bright-green {
  stroke: #53fe5c;
}
.stroke-light-neon-green {
  stroke: #4efd54;
}
.stroke-light-seafoam {
  stroke: #a0febf;
}
.stroke-tiffany-blue {
  stroke: #7bf2da;
}
.stroke-washed-out-green {
  stroke: #bcf5a6;
}
.stroke-browny-orange {
  stroke: #ca6b02;
}
.stroke-nice-blue {
  stroke: #107ab0;
}
.stroke-sapphire {
  stroke: #2138ab;
}
.stroke-greyish-teal {
  stroke: #719f91;
}
.stroke-orangey-yellow {
  stroke: #fdb915;
}
.stroke-parchment {
  stroke: #fefcaf;
}
.stroke-straw {
  stroke: #fcf679;
}
.stroke-very-dark-brown {
  stroke: #1d0200;
}
.stroke-terracota {
  stroke: #cb6843;
}
.stroke-ugly-blue {
  stroke: #31668a;
}
.stroke-clear-blue {
  stroke: #247afd;
}
.stroke-creme {
  stroke: #ffffb6;
}
.stroke-foam-green {
  stroke: #90fda9;
}
.stroke-grey-green {
  stroke: #86a17d;
}
.stroke-light-gold {
  stroke: #fddc5c;
}
.stroke-seafoam-blue {
  stroke: #78d1b6;
}
.stroke-topaz {
  stroke: #13bbaf;
}
.stroke-violet-pink {
  stroke: #fb5ffc;
}
.stroke-wintergreen {
  stroke: #20f986;
}
.stroke-yellow-tan {
  stroke: #ffe36e;
}
.stroke-dark-fuchsia {
  stroke: #9d0759;
}
.stroke-indigo-blue {
  stroke: #3a18b1;
}
.stroke-light-yellowish-green {
  stroke: #c2ff89;
}
.stroke-pale-magenta {
  stroke: #d767ad;
}
.stroke-rich-purple {
  stroke: #720058;
}
.stroke-sunflower-yellow {
  stroke: #ffda03;
}
.stroke-green-blue {
  stroke: #01c08d;
}
.stroke-leather {
  stroke: #ac7434;
}
.stroke-racing-green {
  stroke: #014600;
}
.stroke-vivid-purple {
  stroke: #9900fa;
}
.stroke-dark-royal-blue {
  stroke: #02066f;
}
.stroke-hazel {
  stroke: #8e7618;
}
.stroke-muted-pink {
  stroke: #d1768f;
}
.stroke-booger-green {
  stroke: #96b403;
}
.stroke-canary {
  stroke: #fdff63;
}
.stroke-cool-grey {
  stroke: #95a3a6;
}
.stroke-dark-taupe {
  stroke: #7f684e;
}
.stroke-darkish-purple {
  stroke: #751973;
}
.stroke-true-green {
  stroke: #089404;
}
.stroke-coral-pink {
  stroke: #ff6163;
}
.stroke-dark-sage {
  stroke: #598556;
}
.stroke-dark-slate-blue {
  stroke: #214761;
}
.stroke-flat-blue {
  stroke: #3c73a8;
}
.stroke-mushroom {
  stroke: #ba9e88;
}
.stroke-rich-blue {
  stroke: #021bf9;
}
.stroke-dirty-purple {
  stroke: #734a65;
}
.stroke-greenblue {
  stroke: #23c48b;
}
.stroke-icky-green {
  stroke: #8fae22;
}
.stroke-light-khaki {
  stroke: #e6f2a2;
}
.stroke-warm-blue {
  stroke: #4b57db;
}
.stroke-dark-hot-pink {
  stroke: #d90166;
}
.stroke-deep-sea-blue {
  stroke: #015482;
}
.stroke-carmine {
  stroke: #9d0216;
}
.stroke-dark-yellow-green {
  stroke: #728f02;
}
.stroke-pale-peach {
  stroke: #ffe5ad;
}
.stroke-plum-purple {
  stroke: #4e0550;
}
.stroke-golden-rod {
  stroke: #f9bc08;
}
.stroke-neon-red {
  stroke: #ff073a;
}
.stroke-old-pink {
  stroke: #c77986;
}
.stroke-very-pale-blue {
  stroke: #d6fffe;
}
.stroke-blood-orange {
  stroke: #fe4b03;
}
.stroke-grapefruit {
  stroke: #fd5956;
}
.stroke-sand-yellow {
  stroke: #fce166;
}
.stroke-clay-brown {
  stroke: #b2713d;
}
.stroke-dark-blue-grey {
  stroke: #1f3b4d;
}
.stroke-flat-green {
  stroke: #699d4c;
}
.stroke-light-green-blue {
  stroke: #56fca2;
}
.stroke-warm-pink {
  stroke: #fb5581;
}
.stroke-dodger-blue {
  stroke: #3e82fc;
}
.stroke-gross-green {
  stroke: #a0bf16;
}
.stroke-ice {
  stroke: #d6fffa;
}
.stroke-metallic-blue {
  stroke: #4f738e;
}
.stroke-pale-salmon {
  stroke: #ffb19a;
}
.stroke-sap-green {
  stroke: #5c8b15;
}
.stroke-algae {
  stroke: #54ac68;
}
.stroke-bluey-grey {
  stroke: #89a0b0;
}
.stroke-greeny-grey {
  stroke: #7ea07a;
}
.stroke-highlighter-green {
  stroke: #1bfc06;
}
.stroke-light-light-blue {
  stroke: #cafffb;
}
.stroke-light-mint {
  stroke: #b6ffbb;
}
.stroke-raw-umber {
  stroke: #a75e09;
}
.stroke-vivid-blue {
  stroke: #152eff;
}
.stroke-deep-lavender {
  stroke: #8d5eb7;
}
.stroke-dull-teal {
  stroke: #5f9e8f;
}
.stroke-light-greenish-blue {
  stroke: #63f7b4;
}
